__pycache__/
*.pyc
venv/
.pytest_cache/
unified-form-service/static/uploads/receipt_*.pdf
unified-form-service/static/uploads/receipt_*.png
unified-form-service/validators/__pycache__/
unified-form-service/routes/__pycache__/
unified-form-service/repositories/__pycache__/
unified-form-service/services/__pycache__/
unified-form-service/models/__pycache__/
